 1. What are data structures, and why are they important?
    
  = Data structure are specialized formats for storing,organizing and
      acessing collections of data.
      ** Importanr**
        Space Complexity:
         Reduces memory usage (e.g., sparse matrices save space by ignoring zero values)

        Code Maintainability:  
        Proper data structures make code cleaner, more modular, and easier to debug. For example, using a stack for undo/redo operations in software.  

        Time Complexity:
        Optimizes operations (e.g., insertion, deletion, search).

        Real-World Modeling:    
        Networks (e.g., social connections) are represented by graphs.

2. Explain the difference between mutable and immutable data types with
   examples?

   = Mutable data can change any time . like insert data ,delete data,remove
     data etc.
     but immutable data can not change after once is created.

3. What are the main differences between lists and tuples in Python?

   = The main different between lists and tuples is lists are mutable while
     typles are immutable.

4. Describe how dictionaries store data?
  
   = Dictionaries store data as key-value pairs using a hash table structure.
     Each key is passed through a hash function, generating a unique numerical index. This determines where the value is stored in memory. Keys must be unique and immutable (e.g., strings, numbers). Values can be any data type.

5. Why might you use a set instead of a list in Python?
  
   = In Python I might choose to use a set instead of a list for several reasons. Becacuse Sets automatically enforce uniqueness. If you need a collection where no duplicates are allowed, a set is perfect because it only stores distinct elements. With a list, you have to manually check for and remove duplicates, which takes extra effort.For large datasets where uniqueness and lookup speed are priorities, sets can be more efficient than lists.

6. What is a string in Python, and how is it different from a list?
   = In python a string is a sequence of characters used to represent text.It is one of most fundamental data types and it is created by enclosinng characters in quotes.   
    
    - list is mutable where string is immutable.

7. How do tuples ensure data integrity in Python?
   = Tupple is immutable so we can't modify it's element that's how it ensures data integrity.

8.  What is a hash table, and how does it relate to dictionaries in Python?

   = A hash table is a data structure that stores key-value pairs in a way that allows for efficient lookup, insertion, and deletion. It works by using a hash function to compute an index (or "hash") from the key, which determines where the corresponding value is stored in an underlying array.

   In Python, dictionaries ("dicts") are essentially hash tables under the hood. When you create a dictionary like my_dict = {"apple": 1, "banana": 2}, Python uses a hash table to manage the key-value pairs.

9. Can lists contain different data types in Python?
   = Yes , in python lists contain different data type.

10. Explain why strings are immutable in Python?

   = Becauuse strings can not be modifified.

11. What advantages do dictionaries offer over lists for certain tasks?

   = Dictionaries offer several advantages over lists for specific tasks, particularly when it comes to organizing and accessing data efficiently.
   lists shine when order matters (e.g., a sequence of events) or when you just need a simple, iterable collection. Dictionaries are overkill for those cases.
   For example, if you are tracking inventory (e.g., {"apple": 10, "banana": 5}), a dictionary lets you instantly check or update the stock of "apple" without caring about its position. In a list like [("apple", 10), ("banana", 5)], you have to search for "apple" first, which gets inefficient as the list grows.

12. Describe a scenario where using a tuple would be preferable over a list?   

   = A tuple is preferable over a list in scenarios where you need an immutable, ordered collection of items that shouldn not change after creation.
     Here is a example:Imagine you are writing a program to store geographic coordinates—latitude and longitude—for a set of fixed locations, like the positions of major cities. You might represent each coordinate pair as a tuple, such as (38.7198, -70.0025) for New York City. That  why a tuple makes sense over a list.

13.  How do sets handle duplicate values in Python?

   = In set duplicate values are automatically rermove in python.set only allow distinct and unique data .

14.  How does the “in” keyword work differently for lists and dictionaries?

   = In Python, the in keyword is used to check for membership—whether an element exists within a collection—but its behavior differs between lists and dictionaries due to their underlying structures and purposes.
   For a list, the in keyword checks if a specific value is present among the list is elements. It searches through the list sequentially, comparing the target value to each item.
   where a dictionary, the in keyword checks if a specific key exists in the dictionary. It does not search values.

15. Can you modify the elements of a tuple? Explain why or why not?

   = no , tuple can not modify.Because tuple is immutable , their elements can not be modified added or remove after creation.

16. What is a nested dictionary, and give an example of its use case

   =A nested dictionary is a dictionary that contains other dictionaries as values. This allows you to organize data hierarchically, making it useful for representing complex, structured information.

   example:
   employees = {
    "emp_101": {
        "name": "Alice",
        "age": 30,
        "department": "Engineering",
        "contact": {
            "email": "alice@gmail.com",
            "phone": "1234"
        }
    },
    "emp_102": {
        "name": "Bob",
        "age": 28,
        "department": "Marketing"
        "contact": {
            "email": "bob@gmailcom",
            "phone": "4567"
        }
    }
}

17. Describe the time complexity of accessing elements in a dictionary?

   = The time complexity of accessing elements in a dictionary (e.g., Python's dict) is O(1) average-case and O(n) worst-case. This behavior arises because dictionaries are typically implemented using hash tables:

18. In what situations are lists preferred over dictionaries?
   
   = Lists are preferred over dictionaries in situations where you need an ordered collection of items that can be accessed by their position rather than by a specific key.

19.  Why are dictionaries considered unordered, and how does that affect data
   retrieval?

   = Dictionaries are considered unordered because, historically and conceptually, they don ot guarantee a specific sequence for their key-value pairs. This stems from their design: dictionaries (or hash maps in many languages) prioritize fast lookups using a hash function, which maps keys to memory locations in a way that does not inherently preserve insertion order. The hash function scatters keys across an internal table, optimizing for retrieval speed rather than maintaining a predictable sequence.

20. Explain the difference between a list and a dictionary in terms of data
     retrieval?
     = Lists store items in a specific, sequential order, and you retrieve data using an integer index that corresponds to an item’s position (e.g., list[2] gets the third item.
     where Dictionaries store data as key-value pairs, and you retrieve values using a unique key (e.g., dict["name"] gets the value tied to "name").

In [ ]:
                                                             #  practical question

In [ ]:
# 1.  Write a code to create a string with your name and print it
string =  "my name is saikat"
print(string)

my name is saikat

In [ ]:
# 2.  Write a code to find the length of the string "Hello World"
s = "hello world"
len(s)

11

In [ ]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"
str_ing = "python programming"
str_ing[0:3]

'pyt'

In [ ]:
# 4.  Write a code to convert the string "hello" to uppercase
h = "hello"
print(h.upper())

HELLO

In [ ]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
i = "i like apple"
print(i.replace("apple","orange"))

i like orange

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis = [1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [ ]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ["a","b","c","d"]
list[1]

'b'

In [ ]:
# 10.  Write a code to reverse the list [10, 20, 30, 40, 50].
List = [10,20,30,40,50]
reversed_list = List[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [17]:
# 11. 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)
type(tuple)

(100, 200, 300)

tuple

In [18]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colour = ("red","green","blue","yellow")
colour[1:4]

('green', 'blue', 'yellow')

In [19]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10,20,5,15)
min(num)

5

In [20]:
#  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ("dog","cat","rabbit")
tuple.index("cat")

1

In [22]:
#  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","banana","watermelon")
"kiwi" in fruits

False

In [23]:
#  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
element = {"a","b","c"}
print(element)
type(element)

{'b', 'a', 'c'}

set

In [24]:
#  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [25]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [26]:
#  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1,2,3}
b = {3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [28]:
"""another way"""
a|b

{1, 2, 3, 4, 5}

In [31]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
c = {1,2,3}
d = {2,3,4}
c.intersection(d)

{2, 3}

In [39]:
"""another way"""
c&d

{2, 3}

In [40]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"saikat","age":21,"city":"kolkata"}
print(my_dict)

{'name': 'saikat', 'age': 21, 'city': 'kolkata'}

In [41]:
#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name":"john","age":25}
dict["country"] = "usa"
print(dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [42]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {"name":"alice","age":30}
dict["name"]

'alice'

In [43]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic = {"name":"bob","age":22,"city":"new york"}
dic.pop("age")
print(dic)

{'name': 'bob', 'city': 'new york'}

In [44]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {"name":"alice","city":"paris"}
"city" in dict

True

In [46]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {"name":"saikat","age":26}
print("list",my_list)
print("tuple",my_tuple)
print("dictionary",my_dict)

list [1, 2, 3, 4]
tuple (1, 2, 3, 4)
dictionary {'name': 'saikat', 'age': 26}

In [52]:
#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)
import random
random_list = [random.randint(1,100) for _ in range(5)]
random_list.sort()
print(random_list)

[62, 74, 88, 98, 98]

In [53]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple","banana","orange","grapes"]
my_list[2]

'orange'

In [54]:
""" another way"""
my_list[-2]

'orange'

In [55]:
#  29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"saikat","age":26}
dict2 = {"city":"kolkata","country":"india"}
dict1.update(dict2)
print(dict1)

{'name': 'saikat', 'age': 26, 'city': 'kolkata', 'country': 'india'}

In [61]:
#  30. Write a code to convert a list of strings into a set.
list = ["apple","mango"]
print(str(list))
type (str(list))

['apple', 'mango']

str